body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* mobile device */
@media (max-width: 768px) {
  #sider {
    display: none !important;
  }
}

.card p {
  text-align: justify;
}
#anchor-container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  .ant-anchor-link-title {
    font-size: large;
  }
}

.section {
  height: 100vh;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  width: 50vw;
  text-align: left;
}
